<menu>
  <nav>
    <ul>
      <li>
        <button class="button" routerLink="/Home" routerLinkActive="true"><span>Home</span></button>
      </li>
      <li>
        <button class="button" routerLink="/Blog" routerLinkActive="true">Blog</button>
      </li>
      <li>
        <button class="button" routerLink="/About" routerLinkActive="true">About</button>
      </li>
      <li>
        <button class="button" routerLink="/Contact" routerLinkActive="true">Contact</button>
      </li>
      <li>
        <button class="button" routerLink="/Projects" routerLinkActive="true">Projects</button>
      </li>
    </ul>
  </nav>
</menu>
