<!--<label>User Details</label>-->
<!--<button (click)="getUsers()">User List</button>-->
<!--<table>-->

  <!--<tr>-->
    <!--<td>id</td>-->
    <!--<td>name</td>-->
    <!--<td>email</td>-->
    <!--<td>phone</td>-->
  <!--</tr>-->
  <!--<tr *ngFor=" let user of users">-->
    <!--<td>-->
      <!--{{user.id}}-->
    <!--</td>-->
    <!--<td>-->
      <!--{{user.name}}-->
    <!--</td>-->
    <!--<td>-->
      <!--{{user.email}}-->
    <!--</td>-->
    <!--<td>-->
      <!--{{user.phone}}-->
    <!--</td>-->
    <!--<br>-->
    <!--<br>-->
  <!--</tr>-->
<!--</table>-->
<p>
  Home Works
</p>
